rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users collection can be read by anyone to check for existence
    // but only created. No one can list all users, update or delete them
    // from the client.
    match /users/{userId} {
      allow read, create: if true;
      allow update, delete: if false;
    }

    // Collections can only be accessed by the user they belong to.
    match /collections/{collectionId}/{document=**} {
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/collections/$(collectionId)).data.userName == request.auth.token.name;
    }
  }
}
